<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.shinow.qrscan">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity
                android:name=".SecondActivity"
                android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                    android:name="flutterEmbedding"
                    android:value="2"/>
        </activity>
    </application>
</manifest>
